<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Contact</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                  Discovery To Success
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>Work</h2>
              
              <p>

              </p>
    <pre>
<a href="http://www.askthemavens.com/">http://www.askthemavens.com/</a>...........(site re-design and minor content updates)
<a href="http://www.bcnfashionhouse.com/">http://www.bcnfashionhouse.com/</a>........(on-going site maintenance)
<a href="http://www.bkamf.com/">http://www.bkamf.com/</a>..................(Fully restored the site after being disabled by a failed update to wp core)
<a href="http://brightwaterspringwater.com/">http://brightwaterspringwater.com/</a>.....(Backed-up and re-deployed under new host and registrar)
<a href="http://www.clairefrancis.com/">http://www.clairefrancis.com/</a>..........(Backed-up and re-deployed under new host and registrar)
<a href="http://www.crownvicbar.com/">http://www.crownvicbar.com/</a>............(minor content updates and site maintenance)
<a href="http://www.greenpiratejuice.com/">http://www.greenpiratejuice.com/</a>.......(I built this site during my internship; summer 2015)
<a href="http://www.head-rush-salon.com/">http://www.head-rush-salon.com/</a>........(minor content updates)
<a href="http://www.iamsnowangel.com/">http://www.iamsnowangel.com/</a>...........(Originally by Miko at D4GP, I've been maintaining and adding content)
<a href="http://new.iamsnowangel.com/">http://new.iamsnowangel.com/</a>...........(full site re-design based on the Single-page application paradigm)
<a href="http://www.jasonloughlin.com/">http://www.jasonloughlin.com/</a>..........(Re-styled the frontpage view after an update)
<a href="http://www.jodivalentin.com/">http://www.jodivalentin.com/</a>...........(Simple landing page made for a fellow intern)
<a href="http://www.korbynrachel.com/">http://www.korbynrachel.com/</a>...........(Recently switched from a text heavy front page to foto-only type layout, as per the client's request)
<a href="http://www.natalieyork.com/">http://www.natalieyork.com/</a>............(Full-site backup and GigPress quick fix)
<a href="http://www.northsidefestival.com/">http://www.northsidefestival.com/</a>......(Learned to use SquareSpace for minor edits and content updates)
<a href="http://www.rachelz.com/">http://www.rachelz.com/</a>................(Instagram Feed added)
<a href="http://www.rockawaybeachclothing.com/">http://www.rockawaybeachclothing.com/</a>..(A budding e-commerce site I've recently built for D4GP)
<a href="http://www.saintmusicny.com/">http://www.saintmusicny.com/</a>...........(style changes and mobile optimization)
<a href="http://www.stevewaitt.com/">http://www.stevewaitt.com/</a>.............(site re-design and on-going maintenance)
<a href="http://www.themercury49s.com/">http://www.themercury49s.com/</a>..........(Completely new minimalist site that I assembled and coded)
<a href="http://www.trendtrade.com/">http://www.trendtrade.com/</a>.............(Very new site containing Education for Investors)
<a href="http://www.discoverytosuccess.com/">http://www.discoverytosuccess.com/</a>.....(Site made for my Mom, built with Express on NodeJS, hosted on Heroku)
</pre>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; 2016</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBFXpedFZBXNmincemoIlWa-XrgDLEEKY&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>

</body>

</html>
