<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>dinner</title>

    <!-- Bootstrap Core CSS - - >
    <link href="css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Custom CSS - - >
    <link href="css/landing-page.css" rel="stylesheet"> -->

    <!-- Custom Fonts - - >
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"> -->
           
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                  Agustin Crespo
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top">#</a>
                    </li>
                    <li>
                      <a href="#page-top">Page-Top</a>
                    </li>
                    <li>
                      <a href="#about">Retos</a>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
    <!-- First Section -->
    <section id="carta" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>h2</h2>
              <p>#</p>
              <h3>h3</h3>
              <p>#</p>
              <h4>h4</h4>
            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p class="copyright text-muted small">Copyright &copy; Agustin Crespo-Nazario 2019. All Rights Reserved</p>
        </div>
    </footer>


</body>
</html>