---
import Layout from '../layouts/Layout.astro';
import Post from '../components/Post.astro';
import { SITE } from '../config';
---

<Layout title={SITE.title}>
  <!-- Main -->
  <div id="main">
    <Post
      date={new Date('2022-11-16')}
      title="About Me"
      summary="I'm just a computer guy."
      image={'/images/pic01.jpg'}
      contents={"<p> Hello, my name's Agustin and I'm just a computer guy getting into Front-End Development. This website has been hosted on Heroku for the past seven years, but now they are planning on eliminating the Free tier. So here's a list of the possible platforms to use. Also, I should list all of my favorite things, like Sass, Node.js, React, Next.js, Remix, Crystal, Amber, Lucky, MongoDB, SQLite, nginx, zsh, vim, tmux, Linux, etc. </p>"}    />
  </div>
</Layout>
