---
import Layout from '../layouts/Layout.astro';
import Pagination from '../components/Pagination.astro';
import PostPreview from '../components/PostPreview.astro';

import { SITE } from '../config';

/* const allPosts = await Astro.glob('./blog/*.md');

allPosts.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate)); */

---

<Layout>
  <div id="main">

    <!-- Posts -->
    <section class="posts">
<!--       {
        allPosts.map((p) => (
          <PostPreview
            title={p.frontmatter.title}
            image={p.frontmatter.image}
            date={new Date(p.frontmatter.pubDate)}
            summary={p.frontmatter.summary}
            link={p.url || ''}
          />
        ))
      } -->
    </section>

    <!-- <Pagination /> -->
  </div>
</Layout>