---
import { SITE } from 'src/config';


const { intro } = Astro.props;
---

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
  integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script>
  import '../scripts/jquery.scrollex';
  import '../scripts/jquery.scrolly';
  import '../scripts/utils';
  import '../scripts/main';
</script>

{
  intro && (
    <>
      <div id="intro">
        <h1>
          Hey, there.
          <br />
          You made it!
        </h1>
        <p>

          Hello, my name's Agustin and I'm just a computer guy getting into Front-End Development. This website has been hosted on Heroku for the past seven years, but now they are planning on <a href="#">eliminating the Free tier.</a> So here's a list of the possible platforms to use.
          
        </p>
        <ul class="actions">
          <li>
            <a href="#header" class="button icon solid solo fa-arrow-down scrolly">
              Continue
            </a>
          </li>
        </ul>
      </div>
    </>
  )
}

<!-- Header -->
<header id="header">
  <a href="/" class="logo">{SITE.title}</a>
</header>
