---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<!--
	So this is a really cool HTML Template called Solid State by HTML5 UP
	It was designed by html5up.net | @ajlkn
	They said it was: "Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)"
	Thank you, @jlkn!
	Love, crenaz.
	P.S. Did you like my new epistular commenting scheme?
-->
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<link rel="stylesheet" href={Astro.resolve('../styles/style.css')}>

		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
